body {
	background-color: #de2f32;
	color: white;
}

h1 {
	text-align: center;
	font-size: 70pt;
	font-family: 'Gloria Hallelujah', cursive;
	text-shadow: 4px 4px 4px #aaa;
}

p {
	text-align: center;
}
